/* ==========================================================================
Author's custom styles
========================================================================== */
.navbar-nav{
  float: right;
}

.full-width{
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

/* Index page */
.round{
 display: inline;
 border-radius: 100%;
}

.image-row li{
 display: inline;
 list-style-type: none;
}

.image-col li{
 list-style-type: none;
}

.workBox{
  margin: 3% 2%;
  border: 1px solid black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-width: 100%;
}

.carousel-indicators{
  left: 20%;
  bottom: 14%;
}

.carousel-caption{
  position: absolute;
  right: 69%;
  bottom: 20%;
  left: 9%;
  bottom: 45%;
}

/* Work Page */
.work-caption{
 text-align: center;
}

.work-dots{
  margin-top: 20px;
  margin-bottom: 10px;
}
