/* ==========================================================================
Author's custom styles
========================================================================== */
/* NAV */
.navbar{
  background-color: #ebebeb;
  background-image: none;
  border: none;
}

.navbar-inverse .navbar-nav>li>a{
  color: #484848;
  font-size: 1em;
  font-weight: 300;
}

.navbar-toggle{
  background-color: #484848;
  border: none;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #ddd;
}

/* Main */
@media all and (max-width: 600px) {
.carousel-caption h3{
  text-align: left;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.carousel-caption p{
  display: none;
  text-align: left;
  font-size: .4em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.carousel-caption{
  position: absolute;
  right: 50%;
  left: 15%;
  bottom: 10%;
}

.carousel-indicators{
  display: none;
  height: 0px;
  left: 25%;
  bottom: 10%;
}
}


@media all and (min-width: 600px) and (max-width: 1200px) {
.carousel-caption h3{
  text-align: left;
  font-size: 1.35em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.carousel-caption p{
  text-align: left;
  font-size: .85em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.carousel-caption{
  position: absolute;
  right: 17%;
  left: 15%;
  bottom: 27%;
}

.carousel-indicators{
  left: 17%;
  bottom: 23%;
}
}

@media all and (min-width: 1200px) {
.carousel-caption h3{
  text-align: left;
  font-size: 3.75em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.carousel-caption p{
  text-align: left;
  font-size: 1.55em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.carousel-caption{
  position: absolute;
  right: 17%;
  left: 15%;
  bottom: 27%;
}

.carousel-indicators{
  left: 17%;
  bottom: 23%;
}
}

.navbar-nav{
  float: right;
}

.full-width{
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

/* Index page */
.round{
  display: inline;
  border-radius: 100%;
}

ul.image-row {
  margin-bottom: 0px;
}

.image-row li{
  display: inline;
  list-style-type: none;
}


.bottom{
  margin-top: 50%;
}

.image-col li{
  color: white;
  font-size: 1.3em;
  list-style-type: none;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-width: 100%;
}

#about{
  background-color: #0fc4ca;
}

.img-round{
  border-radius: 50%;
}

.img-padding{
  padding: 3% 1.5% 3% 10%;
}

.about-text{
  padding: 2% 6% 0% 10%;
}

#contact{
  background-color: #b5b3b3;
  font-family: 'Raleway', sans-serif;
}

#contact h2{
  font-size: 1.8em;
  font-weight: 700;
}


@media all and (min-width: 600px){
#contact{
  padding: 0px 10% 0px 10%;
}
}

.form-control{
  background-color: #8b8a8a;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  color: white;
  margin-bottom: 3.5%;
  font-weight: 400;
}

button{
  background-color: #8b8a8a;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  color: white;
  margin-bottom: 3.5%;
  font-weight: 400;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
  opacity: .8;
  color: white;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: .8;
  color: white;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: .8;
  color: white;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  opacity: .8;
  color: white;
}


/* Work Page */

#work{
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

#work h2{
  margin: 5%;
  font-weight: 600;
}

#work .fa-pencil-square{
  color: #0fc4ca;
}

.work-thumbnail{
  padding: 2%;
}

.work-caption{
  text-align: center;
}

.work-dots{
  margin-top: 20px;
  margin-bottom: 10px;
}

.work-box{
  background-color: #FFF;
  margin: 3% 2%;
  border: 1px solid black;
  transition: background-color 0.5s ease;
}

.work-box:hover{
  cursor: pointer;
  background-color: #ddd;
  opacity: .9;
}

.work-caption h1{
  font-size: 1.45em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.work-caption p{
  font-size: .80em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding-left: 4%;
  padding-right: 4%;
}

/* Project Page*/
.headerProject{
  min-width: 100%;
}

@media all and (max-width: 600px) {
.projectText{
  background-color: #ededed;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 5% 15%;
}
}

@media all and (min-width: 600px) {
.projectText{
  background-color: #ededed;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 5% 25%;
}
}

.projectText h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.projectText p {
  line-height: 200%;
}
